ul li {
  line-height: 2
}

a {
  cursor: pointer
}

img {
  vertical-align: middle;
  max-width: 100%
}

.navbar {
  border-radius: 0
}

.disabled {
  cursor: not-allowed;
  opacity: .65
}

footer {
  margin: 50px 0 20px
}

footer .tip {
  margin-top: 10px;
  font-size: 12px
}

.dropdown:hover .dropdown-menu {
  display: block
}

@media (max-width:767px) {
  iframe, img {
    height: auto!important
  }
  img {
    max-width: 100%!important
  }
  iframe {
    width: 100%!important
  }
}

.content .title {
  margin-bottom: 21px
}

.content h3:before {
  content: '#';
  opacity: .5;
  padding-right: 10px
}

.modal {
    display: block
}

.navbar-nav a.active {
  color: #fff;
  background-color: #1a242f
}
